<div class="container-fluid">
  <br>
  <wizard #wizard navBarLayout="large-empty-symbols">

    <!--  PASO 1 -->

    <div #step1 id='step1' style="width: 100%">
      <app-tabla-ordenes
        wizardStep
        title="Seleccionar orden"
        navigationSymbol="1"
        (ordenSeleccionada) = 'OnOrdenSeleccionada($event)'
        (stepEnter)="enterPrimerStep($event)"
        (stepExit)="exitPrimerStep($event)"
      >
    </app-tabla-ordenes>
    </div>


    <!--  PASO 2 -->

    <div #step2 id='step2' >
      <app-tabla-trabajos
        wizardStep
        title="Seleccionar Trabajo"
        navigationSymbol="2"
        [ordenSeleccionada] = 'ordenSeleccionada'
        (trabajoSeleccionado) = 'OnTrabajoSeleccionado($event)'
        (stepEnter)="enterSegundoStep($event)"
        (stepExit)="exitSegundoStep($event)"
      >
      </app-tabla-trabajos>
    </div>



    <!--  PASO 3 -->

    <div #step3 id='step3'>
      <app-tabla-documentos
        wizardStep
        title="Seleccionar Documento"
        navigationSymbol="3"
        [trabajoSeleccionado] = 'trabajoSeleccionado'
        [ordenSeleccionada] = 'ordenSeleccionada'
        (documentoSeleccionado) = 'OnDocumentoSeleccionado($event)'
        (stepEnter)="enterTercerStep($event)"
        (stepExit)="exitTercerStep($event)"
      >
      </app-tabla-documentos>
    </div>

    <div #step4 id='step4'>
      <app-valores-entrada
        wizardStep
        title="Seleccionar Instrumento"
        navigationSymbol="4"
        [trabajoSeleccionado] = 'trabajoSeleccionado'
        [ordenSeleccionada] = 'ordenSeleccionada'
        [documentoSeleccionado] = 'documentoSeleccionado'
        (stepEnter)="enterCuartoStep($event)"
        (stepExit)="exitCuartoStep($event)"
      ></app-valores-entrada>
    </div>



    <!--  PASO 4 -->





  </wizard>
</div>
