<br>
<div class="col-lg-12" *ngIf="ordenSeleccionada!=null && trabajoSeleccionado!=null && documentoSeleccionado!=null">
  <div class="panel panel-info">
    <div class="panel-heading">
      Trabajo Seleccionado
    </div>
    <div class="panel-body">
      <label >Num. Orden : {{ordenSeleccionada.numOrden}}</label>
      <br>
      <label >Num. Trabajo : {{trabajoSeleccionado.numTrabajo}}</label>
      <br>
      <label >Fecha Trabajo : {{trabajoSeleccionado.fechaRealizacion | date:'dd/MM/yyyy'}}</label>
      <br>
      <label >ID. Documento : {{documentoSeleccionado.idDocumento}}</label>
      <br>
      <label >Nombre Documento : {{documentoSeleccionado.nombreArchivo}}</label>
    </div>
  </div>
</div>

<div class=" col-lg-12 example-container ">
  <h4>Ingrese los valores de los resultados</h4>
  <br>


  <table>
    <tr>
      <th>Parámetro</th>
      <th>Valor</th>
    </tr>
    <tr *ngFor="let parametro of parametros; let parametroIndex = index; trackBy: trackByIndex">
      <td><label class="control-label" for="">{{parametro.nombreAtributo}}</label></td>
      <td><input class="form-control" style="width:20%" [(ngModel)]="parametros[parametroIndex].valor"></td>
    </tr>


    <!-- <tr>
      <td><label class="control-label" for="">Valor X</label></td>
      <td><input class="form-control" style="width:20%" [(ngModel)]="model.x"></td>
    </tr>
    <tr>
      <td>
        <label for="">Valor Y</label>
      </td>
      <td>
        <input class="form-control" style="width:20%" [(ngModel)]="model.y">
      </td>
    </tr>
    <tr>
      <td>
        <label for="">Valor Z</label>
      </td>
      <td>
        <input  class="form-control" style="width:20%"  [(ngModel)]="model.z">
      </td>
    </tr> -->
  </table>
  <!-- <div class="form-group">
  <label class="control-label" for="">Valor X</label>
  <input class="form-control" width="50%" [(ngModel)]="model.x">
</div>

<div class="form-group">
<label for="">Valor Y</label>
<input [(ngModel)]="model.y">
</div>

<div class="form-group">
<label for="">Valor Z</label>
<input [(ngModel)]="model.z">
</div> -->


<div class="modal-footer">

  <button class="btn btn-secondary btn-warning "  (click)='cancelar()' previousStep>
    Cancelar
  </button>

  <button class="btn btn-primary"  (click)='enviar()'  data-toggle="modal" data-target="#myModal">
    Enviar
  </button>

</div>
</div>


<!-- <div class="alert alert-success" *ngIf="saveSuccess">
<strong>Success!</strong>
</div> -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Resultados enviados!!</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label class="control-label" for="">Valor X</label>
          <input class="form-control" style="width=50%" [(ngModel)]="model.x">
        </div>

        <div class="form-group">
          <label for="">Valor Y</label>
          <input class="form-control" style="width=50%" [(ngModel)]="model.y">
        </div>

        <div class="form-group">
          <label for="">Valor Z</label>
          <input class="form-control" style="width=50%" [(ngModel)]="model.z">
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" data-dismiss="modal" class="btn btn-success">OK</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
