<div class="example-container ">
  <br>
  <h4>Seleccione la orden de servicio deseada</h4>
  <div class="example-header">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Filtrar Órdenes">
    </md-form-field>
  </div>

  <md-table class='hoverTable'
  selectable-rows="true"
   table-card="{title: Nutrition, actionIcons: true}"
  #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container mdColumnDef="numOrden">
      <md-header-cell *mdHeaderCellDef> Num.Orden </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.numOrden}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container mdColumnDef="fechaIngreso">
      <md-header-cell *mdHeaderCellDef> Fecha de Ingreso </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.fechaIngreso | date:'dd/MM/yyyy'}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="progresoTrabajo">
      <md-header-cell *mdHeaderCellDef> Progreso Trabajo </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.progresoTrabajo}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="observaciones">
      <md-header-cell *mdHeaderCellDef> observaciones </md-header-cell>
      <md-cell *mdCellDef="let row" [style.color]="row.observaciones"> {{row.observaciones}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="seleccionada">
      <md-header-cell *mdHeaderCellDef> seleccionada </md-header-cell>
      <md-cell *mdCellDef="let row" > {{row.seleccionada}} </md-cell>
    </ng-container>

    <md-header-row  *mdHeaderRowDef="displayedColumns"></md-header-row>
    <!-- <md-row [ngClass]="{'isSpecial':  row.seleccionada == true}" *mdRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></md-row> -->
    <md-row [ngClass]="{'isSpecial':  row.numOrden == seleccionado.numOrden}" *mdRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></md-row>
  </md-table>
</div>
<br>
<br>
<button type="button" class="btn btn-secondary btn-success pull-right" (click)='siguiente()'[disabled]="seleccionado.numOrden =='' " nextStep>Siguiente</button>
<button type="button" class="btn btn-secondary btn-warning " disabled>Volver</button>
