<div class="row">
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Pill Tabs
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills">
        <li id='primero'class="active"><a href="#home-pills" data-toggle="tab" aria-expanded="true">Trabajos</a>
        </li>
        <li id='segundo' class=""><a href="#profile-pills" data-toggle="tab" aria-expanded="false">...</a>
        </li>
        <!-- <li class=""><a href="#messages-pills" data-toggle="tab" aria-expanded="false">Messages</a>
        </li>
        <li class=""><a href="#settings-pills" data-toggle="tab" aria-expanded="false">Settings</a>
        </li> -->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade active in" id="home-pills">
          <h4>Seleccione el trabajo deseado</h4>
          <app-tabla-trabajos
            (trabajoSeleccionado) = 'OnTrabajoSeleccionado($event)'
          >
          </app-tabla-trabajos>
        </div>
        <div class="tab-pane fade" id="profile-pills">

          <h4>Oops!!</h4>
          <p>En construccion...</p>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
        <!-- <div class="tab-pane fade" id="profile-pills">

          <h4>Profile Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="tab-pane fade" id="messages-pills">
          <h4>Messages Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="tab-pane fade" id="settings-pills">
          <h4>Settings Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div> -->
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
</div>
