
<br>
<div class="col-lg-8">
  <div class="panel panel-info">
    <div class="panel-heading">
      Orden de Servicio
    </div>
    <div class="panel-body">
      <label >Num.Orden : {{ordenSeleccionada.numOrden}}</label>
      <br>
      <label >Fecha de Ingreso : {{ordenSeleccionada.fechaIngreso | date:'dd/MM/yyyy'}}</label>
    </div>
    <!-- <div class="panel-footer">
    Panel Footer
  </div> -->
</div>
</div>
<div class=" col-lg-12 example-container ">
  <h4>Seleccione el trabajo deseado</h4>
  <div class="example-header">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Filtrar Trabajos">
    </md-form-field>
  </div>

  <md-table class='hoverTable'
  selectable-rows="true"
  table-card="{title: Nutrition, actionIcons: true}"
  #table [dataSource]="dataSource" mdSort>

  <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <!-- <ng-container mdColumnDef="select">
  <md-header-cell *mdHeaderCellDef>
  <md-checkbox (change)="$event ? masterToggle() : null"
  [checked]="isAllSelected()"
  [indeterminate]="selection.hasValue() && !isAllSelected()">
</md-checkbox>
</md-header-cell>
<md-cell *mdCellDef="let row">
<md-checkbox (click)="$event.stopPropagation()"
(change)="$event ? selection.toggle(row.id) : null"
[checked]="selection.isSelected(row.id)">
</md-checkbox>
</md-cell>
</ng-container> -->

<!-- ID Column -->
<ng-container mdColumnDef="numTrabajo">
  <md-header-cell *mdHeaderCellDef md-sort-header> Num. Trabajo </md-header-cell>
  <md-cell *mdCellDef="let row"> {{row.numTrabajo}} </md-cell>
</ng-container>

<!-- Progress Column -->
<ng-container mdColumnDef="fechaRealizacion">
  <md-header-cell *mdHeaderCellDef md-sort-header> Fecha Realizacion </md-header-cell>
  <md-cell *mdCellDef="let row"> {{row.fechaRealizacion | date:'dd/MM/yyyy'}} </md-cell>
</ng-container>

<!-- Name Column -->
<ng-container mdColumnDef="cuilSupervisor">
  <md-header-cell *mdHeaderCellDef md-sort-header> Cuil Supervisor </md-header-cell>
  <md-cell *mdCellDef="let row"> {{row.cuilSupervisor}} </md-cell>
</ng-container>


<md-header-row  *mdHeaderRowDef="displayedColumns"></md-header-row>
<md-row [ngClass]="{'isSpecial':  row.numTrabajo == seleccionado.numTrabajo}" *mdRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></md-row>
<!-- <md-row  *mdRowDef="let row; columns: displayedColumns;"
[class.example-selected-row]="selection.isSelected(row.id)"
(click)="selection.toggle(row.id)">
></md-row> -->
</md-table>

<div class="example-no-results"
[style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
  No se encuentran trabajos que coincidan con la búsqueda!
</div>

<md-paginator #paginator
[length]="exampleDatabase.data.length"
[pageIndex]="0"
[pageSize]="5"
[pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>

</div>
<br>
<button type="button" class="btn btn-lg btn-success pull-right" (click)='siguiente()'[disabled]="seleccionado.numTrabajo =='' " >Siguiente</button>
